<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>
  </head>
  <body class="<%= page_classes %> <%= current_page.options[:layout] %>">
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
</html>
