<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>
  </head>
  <body class="<%= page_classes %> <%= current_page.options[:layout] %>">
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54086893-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-54086893-4');
    </script>
  </body>
</html>
