<!doctype html>
<html>
  <head>
    <%= partial "partials/meta" %>
  </head>
  <body class="<%= page_classes %> <%= current_page.options[:layout] %>">
    <div class="container grid">
      <%= partial "partials/header" %>
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
