<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <% if current_page.data.title %>
        <%= "#{current_page.data.title} &mdash; #{data.site.title}" %>
      <% else %>
        <%= data.site.title %>
      <% end %>
    </title>

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@devinhalladay">
    <meta property="twitter:creator" content="@devinhalladay">
    <meta property="twitter:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; #{data.site.title}" %><% end %>">
    <meta property="twitter:description" content="<% if current_page.data.abstract %><%= current_page.data.abstract %><% else %><%= data.site.description %><% end %>">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:url" content="<%= data.site.url %><%= current_page.url %>">
    <meta property="og:title" content="<% if current_page.data.title %><%= "#{current_page.data.title} &mdash; #{data.site.title}" %><% else %>#{data.site.title}<% end %>">
    <meta property="og:description" content="<% if current_page.data.abstract %><%= current_page.data.abstract %><% else %><%= data.site.description %><% end %>">
    <meta property="og:site_name" content="<%= data.site.title %>">

    <%= stylesheet_link_tag "site" %>
    <link rel="stylesheet" href="https://use.typekit.net/lbu2tns.css">
    <%= javascript_include_tag "site", :async => true %>
  </head>
  <body class="<%= page_classes %> <%= blog.options[:layout] %>">
    <div class="container grid">
      <%= partial "partials/header" %>
      <%= yield %>
    </div>
  </body>
</html>
