<h1>Authors</h1>
<ol>
  <% data.site.people.authors.each do |a| %>
  <li>
    <h3><a href="<%= a.url %>"><%= a.name %></a></h3>
    <p><%= a.bio %></p>
    <p>Twitter: <a href="<%= a.twitter %>">@<%= a.twitter %></a></p>
  </li>
  <% end %>
</ol>

<h1>Friends</h1>
<p>
  <% data.site.people.friends.each do |a| %>
  <a href="<%= a.url %> "><%= a.name %></a><%= ',' if a != data.site.people.friends.last %>
  <% end %>
</p>
