---
layout: default_layout
---
<% terms = [] %>
<% blog.tags.each do |tag, articles| %>
  <% terms.push([tag, articles]) %>
<% end %>
<% terms = terms.sort_by{ |(term, articles)| articles.size }.reverse %>


<div class="main-column">
  <ul class="terms">
    <% terms.each_with_index do |(term, articles), i| %>
      <% articlesWithImages = blog.articles.select { |article| article.data.tags.include?(term[0]) && article.data.image } %>
      <% articlesImages = [] %>

      <% articlesWithImages.each do |article| %><% articlesImages << article.data.image %><% end %>

      <li class="term">
        <a href="<%= tag_path(term) %>" <% if articlesImages %>data-imagelink="<%= articlesImages.first %>"<% end %>>
          <% if articlesImages %><img class="thumbnail" src="<%= articlesImages.first %>"><% end %>
          <span class="term-title">
            <%= term %><sup>(<%= articles.size %>)</sup><% if i != blog.tags.size %>,<% end %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>